# ==========================================
# Fichier de Configuration MGTAtoCal
# ==========================================

# 1. Google Calendar (OBLIGATOIRE)
# Remplacez cette valeur par l'ID de votre agenda Google.
# Exemple : 0a0601ade1046...f195fd825da672f@group.calendar.google.com
#GOOGLE_CALENDAR_ID=
# ------------------------------------------
# Les identifiants secrets de l'API Google
# (OAuth Client ID) ne vont PAS dans ce fichier.
# Vous devez télécharger le fichier "credentials.json"
# directement de la console Google Cloud depuis :
# APIs & Services > Credentials > Create credentials > OAuth client ID > Desktop App
# et déposer le fichier .json directement au même endroit que ce fichier .env.
# ------------------------------------------
